<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Codaisseurify</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

</head>
<body>
    <div class="centerBlock">
      <h2>
    <%= @artist.name %>
      </h2>
    </div>


    <div class="thumbnail centerBlock">
        <%= image_tag @artist.remote_image_url %>
    </div>

<br>
  <div class="centerBlock">
      <ul id="songlist">
          <% @artist.songs.each do |song| %>
          <li class="song">
                    <label><%= song.title %></label>
              <div class="caption centerBlock">
                    <%= link_to "Delete", [song.artist, song], method: :delete, data: { confirm: "Are you sure?" } %>
              </div>
          </li>
<br>
         <% end %>
      </ul>
  </div>

            <%= form_for [@artist, @artist.songs.new] do |f| %>
              <div class="form-group centerBlock">
                <%= f.label :title %>
                <%= f.text_field :title, id:"new-song" %>
                <%= f.submit "New Song" %>
              </div>
            <% end %>

<script>
// de ingevulde waarde van de text-field met id='new-song' wordt opgeslagen in 'title'
var title = $("#new-song").val();

function createSong(title) {

  // checkboxId neemt de songId (number of songs + 1) en plakt het achter "song-">"song-7"
  var checkboxId = "song-" + nextSongId();
  // jquery grijpt direct alle listItems uit de DOM
  var songItem = $("<li></li>");
  // jquery grijpt direct alle labels uit de DOM
  var label = $('<label></label>');

  label.html(title);
  var song = songItem.append(label);

  $("#songlist").append( song );

  $("form").submit(submitSong(event));
}

function nextSongId() {
// jquery grijpt alle elementen met class 'song' en telt de 'length' en voegt er 1 aan toe
  var songId = $(".song").length + 1;
}
function submitSong(event) {
  // preventDefault makes that the page wont reload after every event
  event.preventDefault();
  // de ingevulde waarde van de text-field met id='new-song' wordt opgeslagen in 'title'

  // de functie createSong wordt opgeroepen en krijgt de waarde van 'title'
  createSong(title);
  // de waarde van de textfield met Id='new-song' wordt gereset
  $("#new-song").val(null);

  $.ajax({
      type: "POST",
      url: "/artiss.json",
      data: JSON.stringify({
          song: "new-song"
      }),
      contentType: "application/json",
      dataType: "json"
    });
  }

</script>
</body>
</html>
